.productImage {
    width: 380px;
    height: 380px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.productName {
    font-size: 16px;
    margin-bottom: 10px;
}

.productInfo {
    font-size: 18px;
    margin-bottom: 10px;
}

.prooductPrice {
    font-size: 24px;
}
