.LoginController {
    width: 550px;
    margin: 0 auto;
}

.LoginTypeBtn {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 0 0;
    width: 275px;
    height: 80px;
    box-sizing: border-box;
    padding: 20px 70px;
    margin: 0;
}
.disabled {
    background-color: #f2f2f2;
}
